<template>
    <div>

                        <form @submit.prevent="save">
                        <div class="form-group row justify-content-center">
                            <div class="col-md-8">
                                <input id="name" type="text" placeholder="Full name" class=" form-input montserrat form-control" v-model="contact.name">
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-8">
                                <input id="email" type="email" placeholder="E-mail" class="form-input montserrat form-control" v-model="contact.email">
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-8">
                                <input id="phone" type="phone" placeholder="Phone" class="form-input montserrat form-control" v-model="contact.phone">
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-8">
                            <textarea class="form-input montserrat form-control" placeholder="Your Message" v-model="contact.message"></textarea>
                            </div>
                        </div>
                      
                        <div class="form-group row justify-content-center pl-5">
                            <div class="col-md-8" style="padding-left: 120px;">
                                <button type="submit" class="btn btn-primary montserrat">
                                <span class="material-icons" style="font-size: 12px;"> send</span> &nbsp;&nbsp;&nbsp;SEND
                                </button>
                            </div>
                        </div>
                </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            contacts: [],
            contact: {name: '', email: '', phone: '', message:''}
        }
    },
    methods: {
        save(){
            if(this.contact.name.trim() === '' || this.contact.email.trim() === '' || this.contact.phone.trim() === '' || this.contact.message.trim() === ''){
        alert('Por favor introduce los datos correspondientes');
        return;
      }
        console.log(this.contact.name, this.contact.email, this.contact.phone, this.contact.message);
        const params = {name: this.contact.name, email: this.contact.email, phone: this.contact.phone, message: this.contact.message }
       this.contact.name = '';
       this.contact.email = '';
       this.contact.phone = '';
       this.contact.message = '';
        
        axios.post('/contact', params)
        .then(res => {
            this.contacts.push(res.data)
        }
        )
        }
    }
    
}
</script>